<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <img src="assets/img/initiatives/5.1.jpg" alt="Dashboard" class="cbp-l-project-img">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">YESS</div>
        <div class="cbp-l-inline-subtitle">Youth Education Support Services</div>

        <div class="cbp-l-inline-desc">Bringing the Bankstown Community together to share their knowledge and empower school students.  YESS provides multidisciplinary educational support in the k-12 “ key learning areas” with a focus on literacy.  Led by a passionate local community changemaker and qualified tutor, CSS has designed and runs the program.  Volunteers from Universities donate up to 500 hours of their time for one to one small group tutoring.  As well as strong educational outcome, having different age groups as volunteers fosters mentorship and a strong sense of belonging for tutors and students.</div>

        <!-- <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a> -->
    </div>
</div>
