<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <img src="assets/img/initiatives/2.1.jpg" alt="Dashboard" class="cbp-l-project-img">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Art Therapy</div>
        <div class="cbp-l-inline-subtitle">empowring Families</div>

        <div class="cbp-l-inline-desc">Art stimulates the right side of the brain, which is the part of the brain that deals with Art therapy workshops that are designed to, improve self-management,  Alleviate symptoms of depression, improve communication skills, address Past Traumas, Reduce Stress, Improve Problem-Solving Skills, Build Self-esteem, Mitigate symptoms related to Physical and mental disorders, and provides a creative positive distraction as well as dealing with isolation.</div>

        <!-- <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a> -->
    </div>
</div>
