<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <img src="assets/img/initiatives/3.1.jpg" alt="Dashboard" class="cbp-l-project-img">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Be Connected</div>
        <div class="cbp-l-inline-subtitle">empowering Elderlies</div>

        <div class="cbp-l-inline-desc">Through Good things foundation.  CSS provides an initiative empowering seniors and others to thrive in a digital world.  Be connected will empower seniors to use the internet and everyday technology to thrive in our digital world and teaching the basics of using digital devices and engaging with the internal and social media.  It ensures that seniors are – safe while online, and informs them about talking to or seeing family and friends who live far away; finding new friends who share interests and hobbies; connecting with old friends; keeping up to date with what’s happening in communities around the world and paying bills, shopping and selling on line, safely and securely.</div>

        <!-- <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a> -->
    </div>
</div>
