<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <img src="assets/img/initiatives/1.1.jpg" alt="Dashboard" class="cbp-l-project-img">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Village Pantry</div>
        <div class="cbp-l-inline-subtitle">empowring families</div>

        <div class="cbp-l-inline-desc">Many families and individuals in the Bankstown Community struggle to make ends meet and put food on the table.  This project alleviates the pressure of hunger, allowing Parents and caregivers to find a job and get back on their feet.  Fresh produce from foodbank is brought in displayed for distribution during the week.  Refugees, struggling families and others in the community, such as the unemployed, come along and choose what they need to feed themselves.  Those who are able are encouraged to donate a gold coin and those unable simply receive the food for free.</div>

        <!-- <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a> -->
    </div>
</div>
