<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <img src="assets/img/initiatives/4.1.jpg" alt="Dashboard" class="cbp-l-project-img">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Sewing Therapy</div>
        <div class="cbp-l-inline-subtitle">empowering Families</div>

        <div class="cbp-l-inline-desc">Many people in the Bankstown Community such as refugees, single mums and struggling parents are unable to provide for their family and are often isolated at home.  CSS offers local women sewing lessons to provide social contact, valuable life skills and support on all levels to improve their day to day lives.  The classes offer a way for women to generate an income and financially support themselves and their families.  Along with sewing skills they gain skills in promoting and creating a small business for themselves in the future.</div>

        <!-- <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a> -->
    </div>
</div>
