/* Add here all your css styles (customizations) */


@font-face {
    font-family: GoudyTrajan;
    src: url("fonts/GoudyTrajan-Regular-trial.otf") format("opentype");
}

@font-face {
    font-family: GoudyTrajan;
    font-weight: bold;
    src: url("fonts/GoudyTrajan-Regular-trial.otf") format("opentype");
}


.promo-section h2{
	font-family: 'GoudyTrajan';
	word-spacing: 10px;
	border-top:unset;
}


p.promo-text{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: #fff;
    padding: 45px 0;
    letter-spacing: 0.1em;
    font-weight: 900;
    text-transform:unset;

 }

.promo-next{
	display: block;
	padding: 10px 0 0 15px;
}


h2.title-v2:after {
  left: 0;
  width: 70px;
  height: 2px;
  bottom: -10px;
  background: #555;
  position: absolute;
}

.one-page{
	padding-left: 0;
    padding-right: 0;
}


.one-page .one-page-inner {
    padding: 30px 0;
    min-height: 300px;
}

.one-page p{
	color: #fff;
}

.one-page h1, .one-page h2 {
    color: #fff;
    padding-bottom: 24px;
    margin-bottom: 24px;

}

.one-page h1:after, .one-page h2:after{
	content: unset;
}

.call-action-v2 p{
	text-align: left;
	margin: 5px 0 0;
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 50px;
}


.one-page h2,
.one-page p.slogan{
	text-align: left;
}

.one-page p.slogan{
	text-rendering: optimizeLegibility;
	font-size: 18px;
	font-weight: 400;
}

.one-page i.icon-info-alert {
    background: #fafafa;
    color: #D583A7;
    border: 2px solid #D583A7;
}

.one-page .title-v1 h2:after {
    bottom: 0;
    left: 5%;
    height: 1px;
    width: 70px;
    content: " ";
    margin-left: -35px;
    position: absolute;
    background: #fff;
}

.one-page .bank-details .title-v1 h2:after {
    left: 35%;
    height: 1px;
    width: 170px;
}


.call-action-v2-in .sky-form.contact-style{
	padding-left: 100px;
}

.call-action-v2-in .sky-form.contact-style .last-item{
	text-align: left;
}

i.icon-bg-u {
    background:  #D583A7;
}

.bank-details{
	color: #fff;
	text-rendering: optimizeLegibility;
	font-size: 18px;
}

.bank-details .title-v1{
	margin-bottom: unset;
}

.bank-details .dl-horizontal{
	padding: 20px 0 0 150px;
}

.bank-details h2,
.bank-details p{
	text-align: center;
}

/*CSS color Blocks
------------------------------------*/

.service-block-col1 {
  background: #52A5A0;
}
.service-block-col2 {
  background: #31746B;
}
.service-block-colp3{
  background: #EECCDB;
}
.service-block-colp2{
  background: #D583A7;
}
.service-block-colp1{
  background: #F199C1;
}

img.logo-center{
	vertical-align: middle;
    position: relative;
    padding-left: 25%;
    opacity: 0.6;

}

img.logo{
	margin-top: -23px;
}

.navbar{
    min-height: 80px;
}

.menu-container .nav{
	margin-top: 5px;
	color: #52A5A0;
}

.menu-container .nav li {
	font-weight: 500;
}

.menu-container .nav li a span{
	padding: 5px 8px;
}

.menu-container .nav li.active a span,
.menu-container .nav li a:hover span, 
.menu-container .nav li a:focus span {
	background-color: #52A5A0 !important;
	border-radius: 20px;
	color: #fff;
}

.menu-container .nav li.home.active a span {
	background-color: unset !important;
	border-radius: 0px;
	color: #777;
}


.one-page-header .navbar-nav > li > a {
	font-size: 14px;
}


body.dark p, li, li a{

}

.one-page-header .navbar-nav > a{
	color: grey;
}

.top-contact-block a,
.one-page-header .navbar-nav > li > a{
	color: grey;
}

.top-contact-block i{
	color: grey;
	border: 1px solid grey;
}

.top-nav-collapse > .one-page-header .navbar-nav > li.active > a{
	font-weight: 400 !important;
}



.sky-form .state-error em.invalid{
	color: #D583A7;
	font-size: 13px;
}

.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u{
	background:  #32786F;
}

.btn-u.hamper{
	background: #55060ec9;
}


.btn-u.hamper:hover{
	background: #55060e;
	box-shadow: 5px 5px 10px #888888;

}

.sky-form .message{
	color: #52A5A0;
}
.sky-form .message i{
	border:none !important;
}


#sky-volunteer.submited .message p{
	border: none;
	text-align: center;
	padding: 0px 5px 5px;
}
#sky-volunteer.submited .message i{
	margin-bottom: 0px;
}
#sky-volunteer.submited .message {
	border-radius: 10px;
    border: 1px solid #52A5A0;
    padding: 0px 30px 15px;
}


/* Extra small devices
Portrait phones  */

@media (max-width: 544px) {
	img.logo{
		margin-top: -12px;
		
	}
	.top-contact-block{
		top: 25px;
	}

	.navbar-toggle{
		margin-top: 20px;
	    border: 1px solid grey;
	    padding: 10px;
	    border-radius: 2px;
	}
	
	.one-page-header button.navbar-toggle{
	    border: 1px solid grey;
	    padding: 10px;
	    border-radius: 2px;
	}

	.one-page-header .navbar-toggle .icon-bar{
		background: grey;
	}

	.call-action-v2-in .sky-form.contact-style{
		padding-left: 0px;
	}

	.bank-details .dl-horizontal{
		padding-left: 20px;
	}


}


@media (min-width: 768px) and (max-width: 991px) {
	img.logo{
		margin-top: -12px;
		
	}
	.top-contact-block{
		top: 25px;
	}

	.navbar-toggle{
		margin-top: 20px;
	    border: 1px solid grey;
	    padding: 10px;
	    border-radius: 2px;
	}
	
	.one-page-header button.navbar-toggle{
	    border: 1px solid grey;
	    padding: 10px;
	    border-radius: 2px;
	}

	.one-page-header .navbar-toggle .icon-bar{
		background: grey;
	}

	.content-boxes-v3 {
		padding-top: 20px;
		margin-left: 100px;
		padding-right: 80px;
	}

	.img-charity{
		width: 30%;
		margin-left: auto;
		margin-right: auto;
	}

	#news .title-v1{

	    padding-left: 25%;
	    padding-right: 25%;

	}
	#news p.slogan{
		font-size: 18px !important;
		text-align: center;
	}
	#news p.slogan span{
		display: block;
	}


	.call-action-v2 p,
	.one-page h2 {
		text-align: center;
	}

	.one-page .title-v1 h2:after{
		left: 45%;
	}

	.call-action-v2-in .sky-form.contact-style{
		padding-right: 150px;
	}

	.contact-style .col-md-4,
	.contact-style .col-md-6{
		margin-bottom: 10px
	}

	.contact-details{
		padding-left: 25%;
	}

	.contact-details .lead{
		padding: 30px 30% 0 0;
	}

	.call-action-v2-in .sky-form.contact-style .last-item,
	.sky-form.contact-style .last-item{
		text-align: center;
	}

}

/* targeting med devices */
@media (max-width: 991px) {
	img.logo{
		margin-top: -12px;
		
	}
	.top-contact-block{
		top: 25px;
	}

	.navbar-toggle{
		margin-top: 20px;
	    border: 1px solid grey;
	    padding: 10px;
	    border-radius: 2px;
	}
	
	.one-page-header button.navbar-toggle{
	    border: 1px solid grey;
	    padding: 10px;
	    border-radius: 2px;
	}

	.one-page-header .navbar-toggle .icon-bar{
		background: grey;
	}
	
}




