/*
* Teal Color    : #52A5A0;
* Alt #52A5A0
*/
a {
    color: #52A5A0;
}

/*Pace
------------------------------------*/
.pace .pace-progress {
  background: #52A5A0;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #52A5A0, 0 0 5px #52A5A0;
}

.pace .pace-activity {
  border-top-color: #52A5A0;
  border-left-color: #52A5A0;
}

/*Headers Default
------------------------------------*/
.one-page-header .navbar-nav > .active > a,
.one-page-header .navbar-nav > .active > a:hover,
.one-page-header .navbar-nav > .active > a:focus,
.one-page-header .dropdown-menu > .active > a,
.one-page-header .dropdown-menu > .active > a:hover,
.one-page-header .dropdown-menu > .active > a:focus,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:hover,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:focus {
    color: #52A5A0 !important;
    z-index: 1;
}
.one-page-header .navbar-nav a.dropdown-toggle {
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover {
    color: #52A5A0;
    z-index: 1;
}
.one-page-header.top-nav-collapse .navbar-toggle:hover .icon-bar {
    background: #52A5A0;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #52A5A0;
}
@media (max-width: 991px) {
  .one-page-header .dropdown-menu a:hover,
  .one-page-header.top-nav-collapse .dropdown-menu > li > a:hover {
    color: #52A5A0 !important;
  }
}

/*Logo
------------------------------------*/
.navbar-default .navbar-brand span {
    color: #52A5A0 !important;
}

/*Title v1
------------------------------------*/
.title-v1 h1:after, .title-v1 h2:after {
    background:  #52A5A0;
}

/*Title v1
------------------------------------*/
i.icon-bg-u {
    background:  #52A5A0;
}

/*Text Color
------------------------------------*/
.color-green {
    color: #52A5A0;
}

/*Team v1
------------------------------------*/
.team-v1 li:hover > p:before {
    background:  #52A5A0;
}

/*Service Box v1
------------------------------------*/
.service-box-v1 p:after {
    background:  #52A5A0;
}

.service-box-v1 li {
    border-top: 1px dotted #52A5A0;
}

.service-box-v1 li:hover {
    color: #52A5A0;
}

/*News v1
------------------------------------*/
.news-v1 h3 a:hover {
    color: #52A5A0;
}

.news-v1 .news-v1-info li a:hover {
    color: #52A5A0;
}

/*News v1
------------------------------------*/
.wrapper-portfolio #filters-container .cbp-filter-item-active {
    background:  #52A5A0;
    border-color: #52A5A0;
}

.wrapper-portfolio #filters-container .cbp-filter-item:hover {
    background:  #52A5A0;
    border-color: #52A5A0;
}

/*Testimonials v3
------------------------------------*/
.testimonials-v3 .testimonials-v3-title p {
    color: #52A5A0;
}

.testimonials-v3 .owl-buttons .owl-prev:hover,
.testimonials-v3 .owl-buttons .owl-next:hover {
    background:  #52A5A0;
}

/*Copyright Section
------------------------------------*/
.copyright-section i.back-to-top:hover {
    color: #52A5A0;
}

.btn-u {
    background: #52A5A0;
}
i.icon-color-u {
    border: 1px solid #52A5A0;
    color: #52A5A0;
}
.headline-center h2:after {
    background: #52A5A0;
}
.testimonials-v6 .testimonials-info:hover {
    border-color: #52A5A0;
}
.cube-portfolio #filters-container .cbp-filter-item-active {
    background: #52A5A0;
    border-color: #52A5A0;
}
.log-reg-block-simple .btn-u:hover,
.top-nav-collapse .log-reg-block-simple .btn-u:hover {
  color: #fff;
  background: #52A5A0;
  border-color: #52A5A0;
}
.team-v6 small {
    color: #52A5A0;
}
.social-icons-v1 i:hover {
    background: #52A5A0;
}
.log-reg-block a:hover {
    color: #52A5A0;
}